# Compiled class file
*.class

# Maven
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE - VS Code
.vscode/

# IDE - Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project

# IDE - IntelliJ
.idea/
*.iws
*.iml
*.ipr